@use "../abstracts/variables" as *;
@use "sass:color";

@mixin navigation {
  &-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

  &-item {
    list-style: none;
  }

  &-link {
    color: color-fn(primary);
    text-decoration: none;
    font-size: size(sm);
    transition: all 0.3s;

    &:hover {
      color: color.adjust(color-fn(primary), $lightness: 40%);
    }
  }
}

@mixin flexPosition($justifyContent: center, $alignItems: center) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin footerList {
  &-heading {
    font-size: size(lg);
    color: color-fn(primary);
  }

  &-item {
    list-style: none;
    margin: 1rem 0;
  }

  &-link {
    font-size: size(xs);
    text-decoration: none;
    color: color.adjust(color-fn(primary), $lightness: 15%);
    transition: color 0.2s;

    &:hover {
      color: color.adjust(color-fn(primary), $lightness: 35%);
    }
  }
}

@mixin response($breakpoint) {
  @if ($breakpoint == xl) {
    @media (max-width: 1200px) {
      @content;
    }
  }

  @if ($breakpoint == lg) {
    @media (max-width: 1000px) {
      @content;
    }
  }

  @if ($breakpoint == md) {
    @media (max-width: 760px) {
      @content;
    }
  }

  @if ($breakpoint == sm) {
    @media (max-width: 560px) {
      @content;
    }
  }
}
